body{
    width:100%;
    background-image: url("world.jpg");
}
section{
    width: 100%;
    display:flex;
    justify-content: space-around;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid black;
    padding: 30px;
    padding-top: 10px;
    background-color: white;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
}
h1,h2{
    text-align: center;
}